$default:   rgb(240, 101, 35);
$opposite:  rgb(20, 21, 43);
$tertiary:  rgb(0, 9, 255);
$splash:    rgb(72, 204, 20);

html.theme-psychadelic {
    background: $default;
    color: $grey-1;

    @include animation(pschadelicTrip 10s 1s infinite alternate ease-in-out);
}

body.theme-psychadelic {

    input:focus,
    input[type="checkbox"]:focus {
        outline: 2px $tertiary solid;
    }

    a {
        color: $splash;
        border-bottom: 0 $tertiary solid;
        @include transition(color 0.2s ease-in-out, border-width 0.2s ease-in);

        &:hover,
        &:focus {
            color: $tertiary;
        }

        &:focus {
            outline: 0;
            border-width: 2px;
            text-decoration: none;
        }
    }


    .message {
        // this has improved psychadelic mode greatly
        color: $splash;
    }


    .playAgain {
        background: $white;
        color: $opposite;
        border: 4px transparent solid;

        &:hover,
        &:focus {
            background: $opposite;
            color: $white;    
        }

        &:focus {
            outline: 0;
            border: 4px $tertiary solid;
        }
    }
}

@-webkit-keyframes pschadelicTrip {
    0%   { background-color: #E1E7B6; }
    20%  { background-color: #C34B89; }
    40%  { background-color: #8F39AC; }
    60%  { background-color: #57BEC7; }
    80%  { background-color: #7BD175; }
    100% { background-color: #5BC6C8; }
}
@-moz-keyframes pschadelicTrip {
    0%   { background-color: #E1E7B6; }
    20%  { background-color: #C34B89; }
    40%  { background-color: #8F39AC; }
    60%  { background-color: #57BEC7; }
    80%  { background-color: #7BD175; }
    100% { background-color: #5BC6C8; }
}
@-o-keyframes pschadelicTrip {
    0%   { background-color: #E1E7B6; }
    20%  { background-color: #C34B89; }
    40%  { background-color: #8F39AC; }
    60%  { background-color: #57BEC7; }
    80%  { background-color: #7BD175; }
    100% { background-color: #5BC6C8; }
}
@keyframes pschadelicTrip {
    0%   { background-color: #E1E7B6; }
    20%  { background-color: #C34B89; }
    40%  { background-color: #8F39AC; }
    60%  { background-color: #57BEC7; }
    80%  { background-color: #7BD175; }
    100% { background-color: #5BC6C8; }
}
