/* D R U N K A R D */
html, body {
    margin: 0;
    padding: 0;
    position: relative;
    font-weight: 300;
    font-family: 'Exo 2', sans-serif;
    @include transition(background-color 0.3s ease-in-out);
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.nav-container,
.main-container {
    max-width: 40em;
    margin: 0 auto;
    padding: 15px;
}





.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
