<!DOCTYPE html>
<html ng-class="{'theme-psychadelic': drunkSettings.psychadelic, 'theme-default': !drunkSettings.psychadelic}" ng-app="drunkard" ng-controller="AppCtrl">
    <head>
        <meta charset="utf-8">
        <title ng-bind="pageTitle"></title>
        <meta name="description" content="stuff stuff">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        
        <link href='http://fonts.googleapis.com/css?family=Exo+2:300,600,600italic,300italic' rel='stylesheet' type='text/css'>
        <% style.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>">
        <% }); %>
        

        <% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>
    </head>
    <body ng-class="{'theme-psychadelic': drunkSettings.psychadelic, 'theme-default': !drunkSettings.psychadelic}">
        <nav drunk-nav></nav>

        <div class="main-container" ui-view="main"></div>
    </body>
</html>