<div class="drunk-settings">
    <h2>Settings</h2>

    <label for="psychadelic">
        <input type="checkbox" id="psychadelic" ng-model="svm.inputs.psychadelic" ng-change="svm.updateSettings()"/>
        psychadelic?
    </label>

    <label for="colourBlind">
        <input type="checkbox" id="colourBlind" ng-model="svm.inputs.colourBlind" ng-change="svm.updateSettings()"/>
        colour blind?
    </label>
</div>

<div class="drunk-about">
    <h2>About Being Drunk</h2>

    <p>You should be having a gud time, and getting loose. You can alternate between beer, hard liquor, and wine. Who cares? Maybe you do. You should not operate heavy machinary or drive. You should not make lasting decisions.</p>

    <p>You should not be sober. You could be a happy drunk. I hope if you are a happy drunk, that you are also a happy sober. I hope you are not a sad drunk, but if you are, that it is for a gud reason.</p>
</div>

<div class="drunk-contact">
    <p>Please do not drunk dial. Or do, that could be funny.</p>

    <p><a href="mailto:luczynaki@gmail.com">Drunk email me</a> or <a href="http://twitter.com/intent/tweet?via=tropvache&text=Hey%20I'm%20not%20drunk!">drunk tweet me</a> for giggles.</p>
</div>
